.table-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem; /* komt overeen met gap-2 */
    border-bottom: 1px solid #e5e7eb; /* border-b */
    padding-bottom: 0.25rem; /* pb-1 */
}

    .table-grid .header {
        font-weight: 600; /* font-semibold */
    }

    .table-grid .article {
        color: #6b7280; /* text-gray-500 */
        font-style: italic;
    }
