.preview-container {
    text-align: left; 
    max-width: 1400px;
    padding-right: 20px;
}






.ec-accordion {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 18px;
}

    .ec-accordion:hover {
        background-color: #ddd;
    }


    .ec-accordion::before {
        content: "✒️ "; 
        white-space: pre;
    }



    .ec-accordion.active + .ec-panel {
        display: block; /* Toon de inhoud als de accordion actief is */
    }


    .ec-accordion:not(.active):after {
        content: "🔽"; /* + */
        font-size: 20px;
        padding-left: 10px;
        float: right;
    }

    .ec-accordion.active:after {
        content: "🔼"; /* Unicode voor een pijl naar boven */
        font-size: 20px;
        float: right;
    }



.ec-panel {
    padding: 0 18px;
    display: none; /* in de basis verborgen*/
    overflow: hidden; 
    background-color: #f9f9f9;
}


.ec-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    /*border:solid 1px gray;*/
}

.ec-table-pivot{
    border-collapse: collapse;
    border: none;

}

.ec-table-borderless{

}

.tab-simulated {
    display: inline-block;
    min-width: 75px; /* De breedte van de "tab" */
}

.ec-th-right {
    text-align: right;
    padding: 0.5em;
    border-right: solid 1px gray;
    width: 50%;
    font-weight: normal;
    font-style: italic;
}

.ec-th-pivot {
    text-align: left;
    padding: 0.5em;
    /*border-right: solid 1px gray;*/
    /*width: 40%;*/
    font-weight: normal;
    /*font-style: italic;*/
}

.ec-td {
    padding: 0.0em;
}

.ec-th {
    font-weight: normal;
    font-style: italic;
    padding: 0.5em;
}


.ec-table-head {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #f4f4f4;
    
}

.ec-table-heading{
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    border-left: 5px solid green;
    /*border-bottom: 1px solid green;*/

    /*text-align: center;*/
}

.add-colon::before {
    content: "🔹 "; /* Voeg ": " vóór de tekst toe */
    color: #333; /* Optioneel: pas de kleur aan */
    white-space: pre;
}

.ec-table-row {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #929292;
}


.ec-table-row-pivot{
    border-bottom: none; /* geen horizontale lijntjes */
    /*border-right: 1px solid #929292;*/
}


.ec-symbol{
    font-style: italic;
}

.ec-description{
    font-weight: 100;
}

.ec-article{
    color: gray;
    font-size: smaller;
}

.ec-par{

}




.kop1 {
    font-size: 2.5em;
    border-bottom: 1px solid #000; /* Underline color and thickness */
    padding-bottom: 5px; /* Optional: space between the text and the underline */
    background-color: var(--fluent-color-background);
}

.kop2{
    font-size: 2em;
}

.kop3{
    font-size: 1.75em;
}

.document-title{ 
    font-size: 4em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: initial;
    /*background: var(--fluent-color-accent, #b6ff00);*/
}

.document-subtitle{
    font-size: 1.1em;
    font-style:italic;

}

.to-toc-btn{
    position: fixed;
    bottom: 15px;
    right: 45px;
    z-index: 1000;
    padding: 15px;
    cursor: pointer;
}



